{% block html_head %}
    {% include 'html-header.twig' %}
    {% block head %}
    {% endblock %}
    </head>
{% endblock %}

    <body class="{{body_class}}" data-template="base.twig">
        <a class="skip-link screen-reader-text" href="#content">{{ _e( 'Skip to content') }}</a>
        <header class="site-header">
            {% block header %}
                <div class="wrapper">
                    <h1 class="site-logo" role="banner">
                        <a class="site-logo-link" href="{{site.link}}" rel="home">{{site.name}}</a>
                    </h1>
                    {% include 'partials/nav.twig' %}
                </div>
            {% endblock %}
        </header>

        <main id="content" role="main" class="site-main">
            <div class="wrapper {{sidebar_class}}">
                {% block content %}
                    Sorry, no content
                {% endblock %}
            </div>
            {% if sidebar %}
                <aside class="main-sidebar">
                    {{sidebar}}
                </aside>
            {% endif %}
        </main>

        {% block footer %}
            <footer class="site-footer">
                    <div class="wrapper">
                        {% include 'footer.twig' %}
                    </div>
            </footer>
            {{ function('wp_footer') }}
        {% endblock %}

    </body>
</html>
